/*reset start*/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
input,
textarea,
blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
/*reset end*/

body {
    color: #505050;
    line-height: 1.75em;
    background-color:#b0c4de;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
#wrapper {
    width: 970px;
    margin-left: auto;
    margin-right: auto
}
/*header start*/

.main-header {
    text-align: center;
    padding: 42px 0;
    background: #ffffff;
}
.text-hide {
    color: transparent;
    font-size: 0px;
}
/*header end*/

.main-navigation {
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    margin-bottom: 35px;
    border-bottom: 2px solid #e1e1e1;
}
.menu {
    list-style: none;
    width: 476px;
    margin: 0px auto;
}
.menu li {
    text-align: center;
    float: left;
    height: 56px;
}
.main-navigation .menu li a {
    text-decoration: none;
    color: #505050;
    line-height: 56px;
    display: block;
    padding: 0 20px;
    font-size: 14px;
}
.main-navigation .menu li a:hover {
    color: #e67e22;
}
.content-wrap .container {
    margin: 0px 15px;
}
.content-wrap .container .main {
    margin: 0px 15px;
    float: left;
    width: 580px;
    padding: 0px 15px;
}
.content-wrap .container .main .post-tag {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 35px;
}
.post-tag .post-header {
    text-align: center;
}
.post-tag .post-header .post-title {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: normal;
}
.post-tag .post-header .post-meta {
    color: #959595;
    margin: 14px 0 0px;
    font-size: 14px;
}
.pos-tagt .post-header .post-meta span {
    margin: 0px 7px;
    white-space: nowrap;
}
.post-tag .post-content {
    margin: 30px 0;
    font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.62em;
    color: #444443;
}
.post-content code {
    color: #808080;
    font-size: 0.96em;
    background-color: #f9f9f7;
    padding: 1px 2px;
    border: 1px solid #dadada;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
}
.post-content h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: normal
}
.post-content pre {
    margin: 1.64em 0;
    padding: 7px;
    border: none;
    border-left: 3px solid #dadada;
    padding-left: 10px;
    overflow: auto;
    line-height: 1.5;
    font-size: 0.96em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #4c4c4c;
    background-color: #f9f9f7;
}
.post-content pre code {
    color: #4c4c4c;
    border: none;
    background: none;
    padding: 0;
}
.post-content pre code .hljs-title {
    color: #F00;
}
.post-content pre code .hljs-value {
    color: #a6e22e
}
.post-content hr {
    display: block;
    width: 50%;
    height: 1px;
    border: 0 none;
    border-top: #dededc 1px solid;
    margin: 3.2em auto;
    padding: 0;
}
.post-tag .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}
.post-tag .post-footer a {
    color: #959595;
    margin-left: 7px;
    font-size: 13px;
}
p {
    margin: 0 0 10px;
}
a {
    color: #e67e22;
    text-decoration: none;
}
.about-author {
    background: #ffffff;
    padding: 35px;
    margin-bottom: 35px;
}
.about-author .authorinfo {
    position: relative;
}
.about-author .details {
    position: absolute;
    left: 110px;
    top: 0px;
}
.about-author .author {
    font-size: 1.5em;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: normal;
}
.about-author .meta-info {
    color: #959595;
    margin-bottom: 7px;
}
.about-author .meta-info span {
    margin-right: 14px;
    white-space: nowrap;
    font-size: 13px;
}
.prev-next-wrap {
    margin-bottom: 35px;
    text-align: center;
}
.prev-next-nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.prev-next-nav ul {
    list-style: none;
}
.prev-next-nav ul li {
    float: left;
    border: 1px solid #e67e22;
    background: #e67e22;
    margin-right: 10px;
}
.prev-next-nav ul li a {
    display: block;
    padding: 7px 14px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
}
.content-wrap .container .sidebar {
    margin: 0px 15px;
    float: left;
    width: 240px;
    padding: 30px 15px;
}
.sidebar section {
    background: #ffffff;
    padding: 21px 30px;
    margin-bottom: 35px;
}
.community .title,
.download .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    font-size: 1.5em;
    font-weight: normal;
    position: relative;
}
.community .title:after,
.download .title:after {
    content: "";
    width: 90px;
    height: 1px;
    background: #e67e22;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.download a {
    display: block;
    padding: 7px 14px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #e67e22;
    background: #e67e22;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}
.copyright span {
    margin: 0 .5em;
}
.copyright a {
    color: #555555;
}